@use "../util" as u;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Manrope", Arial, Helvetica, sans-serif;
	font-size: clamp(u.rem(16), u.rem(14.979591836734693) + 0.27210884353741494vw, u.rem(18));
	line-height: 1.7;
	padding-block-end: 50vh;
	overflow-x: hidden;
}

h1,
h2,
h3,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block; // Note that images by default are all inline.
	max-width: 100%; // Makes the image Maintain its aspect ratio. This is commonly used with height auto for image responsiveness.
	height: auto;
}

a,
a:visited,
a:active {
	text-decoration: none;
}
