@use "../util" as u;

.hero {
	position: relative;
	margin-block-end: clamp(u.rem(64), u.rem(50.734693877551024) + 3.537414965986394vw, u.rem(90));
	background-color: var(--color-dk-purple);
	text-align: center;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;

		@include u.breakpoint-down(small) {
			display: none;
		}
	}

	&::before {
		top: 0;
		left: 0;
		translate: -35% 0; // To make the spring image go off the page to the left a bit.
		width: u.rem(270);
		height: u.rem(217);
		background-image: url(/app/assets/images/bg-pattern-1.svg);
	}

	&::after {
		right: 0;
		top: 50%;
		width: u.rem(130);
		height: u.rem(135);
		background-image: url(/app/assets/images/bg-pattern-2.svg);
		translate: 25% -120%;
	}

	&__wrapper {
	}

	&__headline {
		color: var(--color-white);
		margin-block-end: u.rem(40);
		max-width: 11ch;
		margin-inline: auto;
	}

	&__button {
		margin-block-end: u.rem(50);
	}

	&__image-wrapper {
		position: relative;
		background-image: linear-gradient(var(--color-dk-purple) 50%, var(--color-white) 50%);
		padding-inline: 32px;
		// outline: 2px solid magenta;

		&::after {
			content: "";
			position: absolute;
			inset: 49.2% 0 0 0;
			width: 100%;
			height: 4vw; // This means the height gets smaller as the view port gets smaller.
			background-image: url("/app/assets/images/curved-hero-bottom.svg");
			background-repeat: no-repeat;
			background-size: 100% 100%; // I set the preserveAspectRatio="none" in the svg file so that it can stretch it self like a jpg file this is because as an svg it is maintaining its aspect ratio.
			// outline: 2px solid aqua;
		}
	}

	&__image {
		position: relative;
		z-index: 1;
		margin-inline: auto;
	}
}
